.contact {
  height: 100vh;
  background: url("/src/assets/img-contact.jpg") no-repeat center center/cover;
}

.contact-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 5%;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0,0,0,0.55);
  color: #fff;
/*background-color: rgba(230, 230, 230, 0.6);*/
}

.left {
  height: 100%;
  padding: 20px 35px;
}

.contact-info {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  display: flex;
  color: #fff;
  padding: 100px;
  letter-spacing: 2px;
}

.contact-info .contact-content {
  text-align: center;
  color: #fff;
  margin: 1rem;
}

.right {
  padding: 25px 40px;
}

.contact-content {
  font-size: 17px;
  margin: 1rem;
}

.contact .title {
  text-align: center;
  font-size: 3rem;
  color: #195cc8;
  font-family: "Inter", sans-serif;
  position: relative;
  padding: 15px 0 10px;
  margin-bottom: 10px;
}

.contact-sub {
  font-size: 24px;
  font-weight: 400;
  font-family: "Playfair Display SC", serif;
  line-height: 1.55; 
  margin: 0 0 24px;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
}

.contact-field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: #fafafa;
  padding: 1rem 1rem;
  font-size: 1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.contact-field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contactTextarea {
  min-height: 150px;
}

.contact-btn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.contact-field:focus {
  border: 2px solid rgb(33, 31, 47);
  background-color: #fff;
}

.contact-title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #195cc8;
  font-family: 'Fraunces', serif;
}