/* Dark Footer block */
.dark {
  background-color: #37353E;
  color: #fff;
}

/* Footer block */
.dark .footer {
  display: flex;
  padding-block: clamp(48px, 6vw, 96px);
  background-color: #fff;
  color: #333;
}

 .dark .footer .footer-container {
  width: min(1200px, 92%);
  margin-inline: auto;
}

.dark .footer h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: clamp(28px, 2.8vw, 40px);
  font-weight: 700;
   margin: 0 0 clamp(28px, 4vw, 44px);
}

.dark .footer .card-grid {
  display: grid;
  grid-template-rows: auto auto 1fr; /* icon, title, text */
  justify-items: start;
  gap: 10px;
  padding: clamp(8px, 1vw, 14px);
}

.dark .footer .card-grid .footer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 18px 20px;
  min-height: 180px;
  /*  
   background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
  transition: box-shadow .2s ease, transform .2s ease, border-color .2s ease;
  */
}

.dark .footer .card-grid .footer-card .icon {
  width: 50px;
  height: auto;
}

.dark .footer .footer-card h3 {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 1.25vw, 18px);
  color: #fff;
}

.dark .footer .card-grid .footer-card p {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.65;
  max-width: 42ch;              /* keeps lines from getting too long */
  text-align: left;             /* improves readability vs centered */
  color: #fff;
}