
/*
  blur effect:   
  background: rgba(0,0,0,0.25);
  backdrop-filter: saturate(160%) blur(6px);

.navbar a { color: #fff; text-decoration: none; margin-left: 1.25rem; }
*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 1000;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 0.95rem;
}

.menu .contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links .btn-outline {
  border: 2px solid white;
  padding: 0.4rem 0.9rem;
  border-radius: 20px;
}

