
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #222;
    background:transparent;
}

.menu .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.menu .nav-links a {
    text-decoration: none;
    padding: 5px 0;
    font-size: 16px;
}

.menu .nav-links a.active {
    color: #195cc8;
}

.menu .contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

