
/*
  blur effect:   
  background: rgba(0,0,0,0.25);
  backdrop-filter: saturate(160%) blur(6px);

.navbar a { color: #fff; text-decoration: none; margin-left: 1.25rem; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 1000;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}
*/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #222;
    background:transparent;
}

.menu .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.menu .nav-links a {
    text-decoration: none;
    padding: 5px 0;
    font-size: 16px;
}

.menu .nav-links a.active {
    color: #195cc8;
}

.menu .contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

