.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* two equal columns */
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 5%;
  background-color: #EFECE3;
  gap: 2rem;
}

/* Text block */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-left: 6vw;
  gap: 1.2rem;
  font-family: "Inter", sans-serif;
  
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}

.hero-content p {
  font-size: 1rem;
  color: #111;
  max-width: 450px;
  line-height: 1.6;
}

.btn{
  align-self: flex-start;
  display: inline-block;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  background: #195cc8;
  color: white;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: transform .08s ease, filter .2s ease;
}

.btn:hover {
  transform: scale(1.04);
  filter: brightness(1.1);
}

.btn:active {
  transform: scale(0.98);
}
.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
