
.home {
  width: 100%;
  margin-inline: auto;
}

/* ---------------- ABOUT ---------------- */

.about {
  background-color: #fff;
  padding: 60px 0 80px;
}

.about-inner {
  width: min(1100px, 92%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 40px;
  align-items: start;
}

.avatar {
  display: block;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
  font-family: 'Inter', sans-serif;
  padding-inline: 30px;
}

.about-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.name {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
}

.role {
  margin: 0;
  font-size: 14px;
  color: #666;
}

hr {
  height: .5px;
  background-color: #444;
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: 30px auto;
}

